{% extends 'contact_base.html' %}
{% load static %}

{% block content %}

<!--start containter-->
<div id="container">
	

		
    <!--start content-->
    <div id="content">
        <!--post item-->
        <div class="item">
            <div class="container_form">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <h1>{{fname}}</h1>
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                  <label for="lname">Email</label>
                  <input type="text" id="lname" name="email" placeholder="Enter your email ..">

                  
              
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
              
                </form>
              </div>
    


       <!--end of another post item-->			
    </div>
    <!--end of content-->

</div>
<!--end of container-->

{% endblock %}